.container{
    width: 40%;
    height: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid rgb(24,119,242);
    background: transparent;
    color: rgb(24,119,242);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    gap: 10px;
}