.container{
    
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

}
.container::-webkit-scrollbar{
    display: none;
}
.container2{
    width: 18vw;
    height: 18vh;
    
}
.container2 img{
    width: 100%;
    height: 100%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}